@media screen and (max-width: 769px) {
	.navigation {
		flex-direction: column;
		align-items: flex-start;
	}

	.navigationLinks ul {
		flex-direction: column;
		padding: 0;
	}

	.navigationLinks {
		/*display: none;*/
	}

	.navButton {
		display: flex;
	}
}
